$search-option-color: #d7d7d7;
$tipsy-pink: #be5574;

form {
  background-color: white;
  border-radius: 25px;
  border: 5px solid $tipsy-pink;
}

input {
  width: 75%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding: 5px;
}

select {
  width: 25%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 1px $search-option-color;
  background-color: $search-option-color;
  text-align: center;
  padding: 5px;
  color: $tipsy-pink;
}

select:focus, input:focus {
  outline: none;
}