@import "../node_modules/bootstrap/scss/bootstrap";
@import './pages/Homepage/homepage';
@import './pages/Search/search';
@import './components/SearchBar/searchbar';
@import './components/FactBox/factbox';

$background-blue: #0e121d;

body {
  background-color: #0e121d;
  background-image: url("pages/homepage/background.png");
  font-family: Georgia,Times,Times New Roman,serif; 
}